/* estilos gerais da aplicação */

* {
    box-sizing: border-box;
    --background-color: rgba(140, 17, 190, 1);
    --white: rgb(255, 255, 255);
  }
  
  body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--white);
    font-family: 'Radio Canada', sans-serif;
    /* font-family: 'Righteous', cursive; */
  }



